extends ../layout/index

block contenido
    
    div.py-10

        h1.text-4xl.my-10.font-extrabold.text-center Bienes 
            span.font-normal Raices     

        h2.text-center.text-2xl.font-extrabold #{ pagina }
        
        div.mt-8.max-w-md.mx-auto.border
            div.bg-white.py-8.px-4.shadow-lg

                form(action="").space-y-5 
                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold( for = 'email' ) email
                        input#email.w-full.px-3.py-1.border.border-gray-300.rounded-md.placeholder-gray-400( placeholder = 'email de registro' type= 'email' name = 'email')

                    div.flex.items-center.justify-between

                        a(href="/auth/login" class='text-xs text-gray-400 border py-2 px-4 bg-slate-50 hover:bg-green-700 hover:text-white rounded shadow') ¿Ya tienes cuenta? Inicia Sesion 

                        a(href="/auth/registro" class='text-xs text-gray-400 border py-2 px-4 bg-slate-50 hover:bg-red-700 hover:text-white rounded shadow') ¿No tienes cuenta? Registrate
                    
                    input(type="submit" value='Enviar Instrucciones' class='w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer shadow-lg')
